module.exports = {
  firebaseProjectId: '',
  firebaseCredentialsFile: '', // For cli commands
  firebaseApiKey: '',
  firebaseStorageBucket: '', // Not used currently
  firestoreURL: '',
  firebsaeMessageSenderId: '', // Not used currently
  authDomain: '',
  sentryDsn: ''
}
