rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow read, write: if request.auth.uid != null
                         && request.auth.uid == userId;
    }

    match /users/{userId}/friends/{friendId} {
      allow read: if request.auth.uid != null
                  && request.auth.uid == userId;
      allow write: if false;
    }

    match /findings/{findingId} {
      allow read: if request.auth.uid != null
                  && (
                    resource.data.user == request.auth.uid
                    || get(/databases/$(database)/documents/users/$(resource.data.user)/friends/$(request.auth.uid)).data.state == "approved"
                  );
      allow delete: if request.auth.uid != null
                    && resource.data.user == request.auth.uid;
      allow create, update: if request.resource.data.user == request.auth.uid;
    }

    match /hiscores/{hiscoreId} {
      allow read: if request.auth != null;
      allow write: if false;
    }

    match /latestFindings/{findingId} {
      allow read: if request.auth != null;
      allow write: if false;
    }

  }
}
