.buttonGroupSelect {
  position: relative;
  width: 100%;
}

.selected {
  padding: 10px 15px;
  background: var(--color-blue-dark);
  color: var(--color-white);
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

.options {
  position: absolute;
  top: calc(100% + 3px);
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.option {
  padding: 10px 15px;
  background: var(--color-blue-dark);
  color: var(--color-white);
  text-align: center;
  cursor: pointer;
}

.option + .option {
  border-top: 1px solid var(--color-gray-light);
}

.active {
  background: var(--color-primary);
}
