.bird {
  position: relative;
  text-decoration: none;
  color: inherit;
  text-align: center;
}

.birdName {
  font-size: 14px;
}

.birdLatinName {
  font-style: italic;
  font-size: 10px;
}

.bird > img {
  border-radius: 100%;
  max-width: 90%;
  width: auto;
  margin: 0 auto 5px auto;
}

.notFound {
  filter: contrast(0.2);
}
