.topBar {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: var(--color-blue-darkest);
  display: grid;
  grid-template-columns: 1fr min-content;
  border-bottom: 1px solid var(--color-blue-medium);
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.openButton {
  width: 40px;
  height: 40px;
  background: var(--color-blue-dark);
  color: white;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.activeLink {
  color: var(--color-blue-light);
}
