.topBar {
  background: var(--color-blue-darkest);
  display: grid;
  grid-template-columns: min-content 1fr;
  border-bottom: 1px solid var(--color-blue-medium);
}

.birderText {
  font-size: 20px;
}

.version {
  font-size: 10px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.openButton {
  width: 50px;
  height: 50px;
  background: var(--color-blue-dark);
  color: white;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logo {
  width: 35px;
  height: 35px;
  border-radius: 100px;
  padding: 5px;
  background: var(--color-white);
  margin-right: 10px;
}